* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0,139,125) 20%, rgb(215,214,204) 0%);
  display: flex;
}

.box {
  /*poi cambiarlo mettendo un padding al container o delle percentuali*/
  width: 85%;
  height: 90%;
  margin: auto;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

.left {
  width: 30%;
  height: 100%;
}

.right {
  width: 70%;
  height: 100%;
}

.header {
  width: 100%;
  height: 70px;
  background-color: rgb(231,231,231);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul.icons {
  list-style: none;
  height: 100%;
  width: 100px;
}

.avatar {
  height: 40px;
  margin: auto;
}

.avatar_circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
}

ul.icons > li > i {
  font-size: 20px;
  color: rgb(168,168,168);
}

p#self {
  font-weight: bold;
  width: calc(100% - 200px);
}

.actual_chat_details {
  width: calc(100% - 200px);
}

ul.icons > li {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
  margin: 5px;
}

.left.main > .header {
  border-right: 1px solid lightgray;
}

#notification {
  height: 70px;
  background-color: rgb(130,213,252);
}

#search {
  height: 50px;
  background-color: rgb(249,249,249);
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search > button {
  width: 50px;
  height: 40px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
  cursor: pointer;
}

#search > input {
  width: calc(100% - 60px);
  height: 40px;
  outline: none;
  padding-left: 5px;
  font-size: 15px;
}

#search > button > i {
  font-size: 15px;
  color: rgb(168,168,168);
}

#chat_list {
  height: calc(100% - 190px);
  background-color: white;
  overflow: scroll;
}

#chat_list > ul {
  list-style: none;
}

#chat_list li {
  border-top: 1px solid lightgray;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

#chat_details, #date_last_message {
  height: 100%;
  padding-top: 10px;
}

#chat_details > p:first-child {
  font-size: 18px;
}

#chat_details {
  width: calc(100% - 200px);
}

#chat_details > p:last-child {
  font-size: 12px;
  color: rgb(201,186,185);
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#date_last_message > p {
  font-size: 12px;
  color: rgb(201,186,185);
  font-weight: bold;
  width: 105px;
}

#chat_list .avatar_circle {
  background-color: rgb(240,240,240);
}

#chat_main {
  height: calc(100% - 140px);
  background-color: white;
  padding: 20px;
  background-image: url('../img/screensaver.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
}

#chat_input {
  height: 70px;
  background-color: rgb(241,235,231);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#chat_input > input {
  width: calc(100% - 150px);
  height: 45px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
}

#chat_input > i {
  height: 100%;
  line-height: 70px;
  width: 70px;
  text-align: center;
  color: rgb(168,168,168);
  font-size: 20px;
  cursor: pointer;
}

.active {
  background-color: rgb(230,232,232);
}

#chat_main > ul {
  list-style: none;
}


#chat_main li {
  display: flex;
  margin-top: 10px;
}

.down_arrow {
  position: absolute;
  bottom: 30px;
  left: 90%;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.down_arrow i {
  color: lightgray;
  visibility: hidden;
  cursor: pointer;
}

#delete_menu {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  right: 0;
  top: 30px;
  z-index: 3;
  box-shadow: 0px 0px 5px 1px lightgray;
}

#delete_menu > ul {
  width: 200px;
  padding: 5px;
}

#delete_menu li {
  display: block;
  margin: 10px;
}

#delete_menu li:last-child {
  cursor: pointer;
}

#chat_main li .message:hover .down_arrow > i {
  visibility: visible;
}

li.sent_side {
  justify-content: flex-end;
}

li.received_side {
  justify-content: flex-start;
}

.message {
  border-radius: 10px;
  width: 300px;
  padding: 5px 10px;
  box-shadow: 0px 0px 5px 1px lightgray;
  position: relative;
}

.sent {
  background-color: rgb(207, 248, 177);
}

.received {
  background-color: white;
}

.message > p:first-child {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  /*vedere se si riesce a mettere il trattino che separa parola*/
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
}

.message > p:nth-child(2) {
  text-align: right;
  font-size: 10px;
  color: lightgray;
}
